@import url("http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css");html {
font-size: 62.5%;
font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
body {
background: white;
margin: 0;
padding: 1em;
}
a {
color: #009600;
text-decoration: none;
}
a:hover {
color: #26c326;
text-decoration: underline;
}
#body {
background: #EEE;
width: 800px;
margin: 0 auto;
margin-bottom:20px;
padding:0;
box-shadow: 0 0 30px black;
-webkit-box-shadow: 0 0 30px black;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
}
#header {
position:relative;
padding-top: 0;
border-bottom: 1px solid #999;
border: 1px solid #005500;
background: #005500;
background: -webkit-gradient(linear,left top,left bottom,from(#33cc33),to(#005500),color-stop(0.75,#005500),color-stop(0.75,#005500));
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
z-index:1;
}
#rss_link {
	position:absolute;
	right:15px;
	top:10px;
padding:3px;
padding-left:6px;
padding-right:6px;
margin:0;
background: #ffffe8;
font-size:1px;
line-height:1px;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
box-shadow: 0 -1px 5px #111;
-webkit-box-shadow: 0 -1px 5px #111;
}
#rss_link:hover{
box-shadow: 0 1px 5px #888;
-webkit-box-shadow: 0 1px 5px #888;

}
#rss_link * {margin:0;padding:0;border:none;}

#header_logo {
display: block;
margin-left: -20px;
margin-bottom: 1em;
text-align: left;
float: left;
height: 104px;
text-decoration: none;
margin-bottom: 0;
padding-left: 220px;
background-repeat: no-repeat;
background-image: url(http://sticklord.com/images/snail.gif);
position:relative;
z-index:2;
}
#header_logo span {
font-family: "Arial Black","Arial Black",Gadget,sans-serif;
font-size: 30px;
color: #ffffe8;
line-height: 110px;
font-size: 70px;
text-shadow: #005500 0 -2px 1px;
text-decoration: none;
}
#header_logo:hover span {
text-shadow: #227722 0 2px 1px;
}
#search {
color: white;
float: right;
margin-right: 1em;
z-index:2;
position:relative;
}
#search_label {
margin-right: 4px;
}
#search_field {
background: white;
border: 1px solid #DDD;
padding: 3px;
width: 250px;
}
#header ul {
clear: both;
list-style: none;
text-align: left;
padding-left: 2em;
margin-top: 0;
z-index:2;
position:relative;
}
#header li {
display: inline;
margin: 0;
padding: 0;
}
#header li a {
z-index:2;
position:relative;
float: left;
margin: 0;
margin-right: 2px;
margin-bottom: -1px;
padding-left: 2em;
padding-right: 2em;
padding-top: 5px;
padding-bottom: 5px;
border-bottom: none;
font-weight: bold;
text-decoration: none;
background: #aba;
-moz-border-radius-topleft: 0.5em;
-moz-border-radius-topright: 0.5em;
-webkit-border-top-left-radius: 0.5em;
-webkit-border-top-right-radius: 0.5em;
background: -webkit-gradient(linear,left top,left bottom,from(#cdc),to(#aba));
}
#header li.selected a,
#header li.selected span {
z-index:2;
position:relative;
float: left;
display: inline;
margin: 0;
margin-right: 2px;
margin-bottom: -1px;
padding-left: 2em;
padding-right: 2em;
padding-top: 5px;
padding-bottom: 5px;
border-bottom: none;
font-weight: bold;
background: #EEE;
-moz-border-radius-topleft: 0.5em;
-moz-border-radius-topright: 0.5em;
-webkit-border-top-left-radius: 0.5em;
-webkit-border-top-right-radius: 0.5em;
background: -webkit-gradient(linear,left top,left bottom,from(#ffffe8),to(#eee));
box-shadow: 0 -1px 1px black;
-webkit-box-shadow: 0 -1px 1px black;
}
#header li a:hover {
background: #EEE;
background: -webkit-gradient(linear,left top,left bottom,from(#dfe),to(#efe));
box-shadow: 0 -1px 1px black;
-webkit-box-shadow: 0 -1px 1px black;
}
#content {
text-align: left;
padding: 1em;
border: 1px solid #BBB;
border-top: none;
border-bottom: none;
}
.canvas {
background: #ffffe8;
padding: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: 0 1px 5px #888;
-webkit-box-shadow: 0 1px 5px #888;
}
.canvas h1 {
font-size: 20px;
line-height: 20px;
font-weight: bold;
margin-bottom: 5px;
}
.letterbox {
background: black;
padding: 5px;
text-align: center;
}
.instructions {
margin-top: 10px;
text-align: center;
font-size: 125%;
font-weight: bold;
}
.description {
background: #ffffe8;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 10px;
margin-top: 10px;
font-size: 10px;
line-height: 12px;
text-align: justify;
color: #666;
box-shadow: 0 1px 5px #888;
-webkit-box-shadow: 0 1px 5px #888;
}
.description p {
margin-bottom: 10px;
}
.description ul {
margin-top: 10px;
padding: 10px;
border-top: 1px dotted #666;
font-size: 12px;
line-height: 12px;
color: #666;
}
.description ul li {
list-style-type: inherit;
list-style-position: inside;
}
.navigator {
margin:0;
border: 1px solid #BBB;
border-top: none;
border-bottom: none;
font-size: 15px;
padding-bottom: 15px;
background: #eee;
text-align: center;
padding-top: 15px;
padding-right:5px;
padding-left:5px;
}
a.navigation_button {
text-decoration: none;
position: relative;
z-index: 100
}
a.navigation_button span.arrow {
text-decoration: none;
font-size: 40px;
line-height: 40px;
font-weight: bold;
}
.navigator a.navigator_title,
a.navigation_button span.navigator_title {
font-size: 12px;
line-height: 22px;
margin-bottom: 0;
vertical-align: bottom;
}
a.navigation_button:hover span.navigator_title {
text-decoration: underline;
}
.navigator .date {
margin-top: 0;
font-size: 10px;
line-height: 10px;
color: #666;
}
.left {
float: left;
}
.clearleft {
clear: left;
}
.right {
float: right;
}
.clearright {
clear: right;
}
#footer {
background: #005500;
background: -webkit-gradient(linear,left top,left bottom,from(#33cc33),to(#005500));
border: 1px solid #005500;
border-top: none;
color: white;
text-align: right;
font-weight: normal;
font-size: 9px;
padding: 0;
vertical-align: middle;
line-height: 20px;
padding-right: 15px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
}
.spacer {
margin-left: 10px;
margin-right: 10px;
}
.description ul,.description ul * {
display: none;
}
h1.search_results_summary {
	font-size:15px;
	font-weight:bold;
	margin:20px;
}
.archive_entry {
	margin-bottom:10px;
}
.thumbnail {
	border:1px solid #33cc33;
	background:#33cc33;
	background:#005500;
	padding:3px;
	float:left;
	width:80px;
	margin-right:10px;
	font-size:0px;
}
a.thumbnail:hover {
	background:#114411;
	border-color:white;
}
.thumbnail img { margin:0; padding:0; border:none;}
.archive_entry h1 {
	font-size:14px;
	font-weight:bold;
}
.archive_entry p {
	margin-left:98px;
	text-align:justify;
}
#search.selected {
			margin: 0;
			margin-right: 20px;
			
			padding:4px;
			padding-left: 6px;
			padding-right: 6px;
			padding-bottom:3px;
			margin-bottom:-1px;
			border-bottom: none;
			font-weight: bold;
			background: #EEE;
			-moz-border-radius-topleft: 0.5em;
			-moz-border-radius-topright: 0.5em;
			-webkit-border-top-left-radius: 0.5em;
			-webkit-border-top-right-radius: 0.5em;
			background: -webkit-gradient(linear,left top,left bottom,from(#ffffe8),to(#eee));
			box-shadow: 0 -1px 1px black;
			-webkit-box-shadow: 0 -1px 1px black;
		}
		#search.selected #search_label {
			color:black;
		}