html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}body{text-align:center;}#ft{clear:both;}#doc,#doc2,#doc3,#doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7{margin:auto;text-align:left;width:57.69em;*width:56.25em;min-width:750px;}#doc2{width:73.076em;*width:71.25em;}#doc3{margin:auto 10px;width:auto;}#doc4{width:74.923em;*width:73.05em;}.yui-b{position:relative;}.yui-b{_position:static;}#yui-main .yui-b{position:static;}#yui-main,.yui-g .yui-u .yui-g{width:100%;}{width:100%;}.yui-t1 #yui-main,.yui-t2 #yui-main,.yui-t3 #yui-main{float:right;margin-left:-25em;}.yui-t4 #yui-main,.yui-t5 #yui-main,.yui-t6 #yui-main{float:left;margin-right:-25em;}.yui-t1 .yui-b{float:left;width:12.30769em;*width:12.00em;}.yui-t1 #yui-main .yui-b{margin-left:13.30769em;*margin-left:13.05em;}.yui-t2 .yui-b{float:left;width:13.8461em;*width:13.50em;}.yui-t2 #yui-main .yui-b{margin-left:14.8461em;*margin-left:14.55em;}.yui-t3 .yui-b{float:left;width:23.0769em;*width:22.50em;}.yui-t3 #yui-main .yui-b{margin-left:24.0769em;*margin-left:23.62em;}.yui-t4 .yui-b{float:right;width:13.8456em;*width:13.50em;}.yui-t4 #yui-main .yui-b{margin-right:14.8456em;*margin-right:14.55em;}.yui-t5 .yui-b{float:right;width:18.4615em;*width:18.00em;}.yui-t5 #yui-main .yui-b{margin-right:19.4615em;*margin-right:19.125em;}.yui-t6 .yui-b{float:right;width:23.0769em;*width:22.50em;}.yui-t6 #yui-main .yui-b{margin-right:24.0769em;*margin-right:23.62em;}.yui-t7 #yui-main .yui-b{display:block;margin:0 0 1em 0;}#yui-main .yui-b{float:none;width:auto;}.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u{float:left;}.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf,.yui-gc .yui-u,.yui-gd .yui-g,.yui-g .yui-gc .yui-u,.yui-ge .yui-u,.yui-ge .yui-g,.yui-gf .yui-g,.yui-gf .yui-u{float:right;}.yui-g div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first,.yui-ge div.first,.yui-gf div.first,.yui-g .yui-gc div.first,.yui-g .yui-ge div.first,.yui-gc div.first div.first{float:left;}.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf{width:49.1%;}.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u{width:32%;margin-left:1.99%;}.yui-gb .yui-u{*margin-left:1.9%;*width:31.9%;}.yui-gc div.first,.yui-gd .yui-u{width:66%;}.yui-gd div.first{width:32%;}.yui-ge div.first,.yui-gf .yui-u{width:74.2%;}.yui-ge .yui-u,.yui-gf div.first{width:24%;}.yui-g .yui-gb div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first{margin-left:0;}.yui-g .yui-g .yui-u,.yui-gb .yui-g .yui-u,.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u,.yui-ge .yui-g .yui-u,.yui-gf .yui-g .yui-u{width:49%;*width:48.1%;*margin-left:0;}.yui-g .yui-g .yui-u{width:48.1%;}.yui-g .yui-gb div.first,.yui-gb .yui-gb div.first{*margin-right:0;*width:32%;_width:31.7%;}.yui-g .yui-gc div.first,.yui-gd .yui-g{width:66%;}.yui-gb .yui-g div.first{*margin-right:4%;_margin-right:1.3%;}.yui-gb .yui-gc div.first,.yui-gb .yui-gd div.first{*margin-right:0;}.yui-gb .yui-gb .yui-u,.yui-gb .yui-gc .yui-u{*margin-left:1.8%;_margin-left:4%;}.yui-g .yui-gb .yui-u{_margin-left:1.0%;}.yui-gb .yui-gd .yui-u{*width:66%;_width:61.2%;}.yui-gb .yui-gd div.first{*width:31%;_width:29.5%;}.yui-g .yui-gc .yui-u,.yui-gb .yui-gc .yui-u{width:32%;_float:right;margin-right:0;_margin-left:0;}.yui-gb .yui-gc div.first{width:66%;*float:left;*margin-left:0;}.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf .yui-u{margin:0;}.yui-gb .yui-gb .yui-u{_margin-left:.7%;}.yui-gb .yui-g div.first,.yui-gb .yui-gb div.first{*margin-left:0;}.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u{*width:48.1%;*margin-left:0;} .yui-gb .yui-gd div.first{width:32%;}.yui-g .yui-gd div.first{_width:29.9%;}.yui-ge .yui-g{width:24%;}.yui-gf .yui-g{width:74.2%;}.yui-gb .yui-ge div.yui-u,.yui-gb .yui-gf div.yui-u{float:right;}.yui-gb .yui-ge div.first,.yui-gb .yui-gf div.first{float:left;}.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf div.first{*width:24%;_width:20%;}.yui-gb .yui-ge div.first,.yui-gb .yui-gf .yui-u{*width:73.5%;_width:65.5%;}.yui-ge div.first .yui-gd .yui-u{width:65%;}.yui-ge div.first .yui-gd div.first{width:32%;}#bd:after,.yui-g:after,.yui-gb:after,.yui-gc:after,.yui-gd:after,.yui-ge:after,.yui-gf:after{content:".";display:block;height:0;clear:both;visibility:hidden;}#bd,.yui-g,.yui-gb,.yui-gc,.yui-gd,.yui-ge,.yui-gf{zoom:1;}
font-size: 62.5%;
font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
body {
background: white;
margin: 0;
padding: 1em;
}
a {
color: #009600;
text-decoration: none;
}
a:hover {
color: #26c326;
text-decoration: underline;
}
#body {
background: #EEE;
width: 800px;
margin: 0 auto;
padding:0;
box-shadow: 0 0 30px black;
-webkit-box-shadow: 0 0 30px black;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
}
#header {
position:relative;
padding-top: 0;
border-bottom: 1px solid #999;
border: 1px solid #005500;
background: #005500;
background: -webkit-gradient(linear,left top,left bottom,from(#33cc33),to(#005500),color-stop(0.75,#005500),color-stop(0.75,#005500));
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
z-index:1;
}
#rss_link {
	position:absolute;
	right:15px;
	top:10px;
padding:3px;
padding-left:6px;
padding-right:6px;
margin:0;
background: #ffffe8;
font-size:1px;
line-height:1px;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
box-shadow: 0 -1px 5px #111;
-webkit-box-shadow: 0 -1px 5px #111;
}
#rss_link:hover{
box-shadow: 0 1px 5px #888;
-webkit-box-shadow: 0 1px 5px #888;

}
#rss_link * {margin:0;padding:0;border:none;}

#header_logo {
display: block;
margin-left: -20px;
margin-bottom: 1em;
text-align: left;
float: left;
height: 104px;
text-decoration: none;
margin-bottom: 0;
padding-left: 220px;
background-repeat: no-repeat;
background-image: url(https://sticklord.com/sticklordblog/images/snail.gif);
position:relative;
z-index:2;
}
#header_logo span {
font-family: "Arial Black","Arial Black",Gadget,sans-serif;
font-size: 30px;
color: #ffffe8;
line-height: 110px;
font-size: 70px;
text-shadow: #005500 0 -2px 1px;
text-decoration: none;
}
#header_logo:hover span {
text-shadow: #227722 0 2px 1px;
}
#search {
color: white;
float: right;
margin-right: 1em;
z-index:2;
position:relative;
}
#search_label {
margin-right: 4px;
}
#search_field {
background: white;
border: 1px solid #DDD;
padding: 3px;
width: 250px;
}
#header ul {
clear: both;
list-style: none;
text-align: left;
padding-left: 2em;
margin-top: 0;
z-index:2;
position:relative;
}
#header li {
display: inline;
margin: 0;
padding: 0;
}
#header li a {
z-index:2;
position:relative;
float: left;
margin: 0;
margin-right: 2px;
margin-bottom: -1px;
padding-left: 2em;
padding-right: 2em;
padding-top: 5px;
padding-bottom: 5px;
border-bottom: none;
font-weight: bold;
text-decoration: none;
background: #aba;
-moz-border-radius-topleft: 0.5em;
-moz-border-radius-topright: 0.5em;
-webkit-border-top-left-radius: 0.5em;
-webkit-border-top-right-radius: 0.5em;
background: -webkit-gradient(linear,left top,left bottom,from(#cdc),to(#aba));
}
#header li.selected a,
#header li.selected span {
z-index:2;
position:relative;
float: left;
display: inline;
margin: 0;
margin-right: 2px;
margin-bottom: -1px;
padding-left: 2em;
padding-right: 2em;
padding-top: 5px;
padding-bottom: 5px;
border-bottom: none;
font-weight: bold;
background: #EEE;
-moz-border-radius-topleft: 0.5em;
-moz-border-radius-topright: 0.5em;
-webkit-border-top-left-radius: 0.5em;
-webkit-border-top-right-radius: 0.5em;
background: -webkit-gradient(linear,left top,left bottom,from(#ffffe8),to(#eee));
box-shadow: 0 -1px 1px black;
-webkit-box-shadow: 0 -1px 1px black;
}
#header li a:hover {
background: #EEE;
background: -webkit-gradient(linear,left top,left bottom,from(#dfe),to(#efe));
box-shadow: 0 -1px 1px black;
-webkit-box-shadow: 0 -1px 1px black;
}
#content {
text-align: left;
padding: 1em;
border: 1px solid #BBB;
border-top: none;
border-bottom: none;
}
.canvas {
background: #ffffe8;
padding: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: 0 1px 5px #888;
-webkit-box-shadow: 0 1px 5px #888;
}
.canvas h1 {
font-size: 20px;
line-height: 20px;
font-weight: bold;
margin-bottom: 5px;
}
.letterbox {
background: black;
padding: 5px;
text-align: center;
}
.instructions {
margin-top: 10px;
text-align: center;
font-size: 125%;
font-weight: bold;
}
.description {
background: #ffffe8;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 10px;
margin-top: 10px;
font-size: 10px;
line-height: 12px;
text-align: justify;
color: #666;
box-shadow: 0 1px 5px #888;
-webkit-box-shadow: 0 1px 5px #888;
}
.description p {
margin-bottom: 10px;
}
.description ul {
margin-top: 10px;
padding: 10px;
border-top: 1px dotted #666;
font-size: 12px;
line-height: 12px;
color: #666;
}
.description ul li {
list-style-type: inherit;
list-style-position: inside;
}
.navigator {
margin:0;
border: 1px solid #BBB;
border-top: none;
border-bottom: none;
font-size: 15px;
padding-bottom: 15px;
background: #eee;
text-align: center;
padding-top: 15px;
padding-right:5px;
padding-left:5px;
}
a.navigation_button {
text-decoration: none;
position: relative;
z-index: 100
}
a.navigation_button span.arrow {
text-decoration: none;
font-size: 40px;
line-height: 40px;
font-weight: bold;
}
.navigator a.navigator_title,
a.navigation_button span.navigator_title {
font-size: 12px;
line-height: 22px;
margin-bottom: 0;
vertical-align: bottom;
}
a.navigation_button:hover span.navigator_title {
text-decoration: underline;
}
.navigator .date {
margin-top: 0;
font-size: 10px;
line-height: 10px;
color: #666;
}
.left {
float: left;
}
.clearleft {
clear: left;
}
.right {
float: right;
}
.clearright {
clear: right;
}
#footer {
background: #005500;
background: -webkit-gradient(linear,left top,left bottom,from(#33cc33),to(#005500));
border: 1px solid #005500;
border-top: none;
color: white;
text-align: right;
font-weight: normal;
font-size: 9px;
padding: 0;
vertical-align: middle;
line-height: 20px;
padding-right: 15px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
}
.spacer {
margin-left: 10px;
margin-right: 10px;
}
.description ul,.description ul * {
display: none;
}
h1.search_results_summary {
	font-size:15px;
	font-weight:bold;
	margin:20px;
}
.archive_entry {
	margin-bottom:10px;
}
.thumbnail {
	border:1px solid #33cc33;
	background:#33cc33;
	background:#005500;
	padding:3px;
	float:left;
	width:80px;
	margin-right:10px;
	font-size:0px;
}
a.thumbnail:hover {
	background:#114411;
	border-color:white;
}
.thumbnail img { margin:0; padding:0; border:none;}
.archive_entry h1 {
	font-size:14px;
	font-weight:bold;
}
.archive_entry p {
	margin-left:98px;
	text-align:justify;
}
#search.selected {
			margin: 0;
			margin-right: 20px;
			
			padding:4px;
			padding-left: 6px;
			padding-right: 6px;
			padding-bottom:3px;
			margin-bottom:-1px;
			border-bottom: none;
			font-weight: bold;
			background: #EEE;
			-moz-border-radius-topleft: 0.5em;
			-moz-border-radius-topright: 0.5em;
			-webkit-border-top-left-radius: 0.5em;
			-webkit-border-top-right-radius: 0.5em;
			background: -webkit-gradient(linear,left top,left bottom,from(#ffffe8),to(#eee));
			box-shadow: 0 -1px 1px black;
			-webkit-box-shadow: 0 -1px 1px black;
		}
		#search.selected #search_label {
			color:black;
		}